{#{% extends '@mixed_vinyl/templates/base.html.twig' %}#}
{#{% extends '@templates/base.html.twig' %}#}
{% extends 'base.html.twig' %}

{% block title %}
    Home | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {{ 'title' }}

    {% for index,track in tracks %}
        {{ index|upper }}, {{ track }}
    {% endfor %}
{% endblock %}

